@model Business.Dtos.AuthorWithRolesViewModel

<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a asp-action="index" asp-controller="Admin" class="brand-link">

        <span class="brand-text font-weight-light">Admin Panel</span>
    </a>

    <div class="sidebar">

        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~Model?.User?.Image" class="img-circle elevation-2">
            </div>
            <div class="info">
                <a href="#" class="d-block">@Model?.User?.Name</a>
            </div>
        </div>


        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>


        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a  asp-action="Index" asp-controller="WebInfo" class="nav-link">
                        <i class="nav-icon fas fa-circle-notch"></i>
                        <p>
                            Web Site Ayarları
                        </p>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Resume" class="nav-link">
                        <i class="nav-icon fas fa-circle-notch"></i>
                        <p>
                            Öz Geçmiş
                        </p>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Project" class="nav-link">
                        <i class="nav-icon fas fa-circle-notch"></i>
                        <p>
                            Proje
                        </p>
                    </a>
                </li>

            </ul>
        </nav>

    </div>

</aside>