<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Samet Karademir</title>
    @await Html.PartialAsync("_LayoutCssPartial")
</head>
<body class="hold-transition login-page">


@RenderBody()

@await Html.PartialAsync("_LayoutJsPartial")
@await RenderSectionAsync("Scripts", false)
@await Component.InvokeAsync("NToastNotify")

</body>
</html>